.form {
    text-align: right;
}
  
.form button {
    font: inherit;
    cursor: pointer;
    background-color: #cf284f;
    border: 1px solid #8a2b06;
    color: white;
    margin-top: 0.8rem;
    padding: 0.1rem 1.4rem;
    border-radius: 20px;
    font-weight: bold;
}

.form input {
  margin-right: 0.8rem;
}
.form label{
  margin-right: 1.1rem;
}
  
.form button:hover,
.form button:active {
    background-color: #9c1a38;
    border-color: #721329;
}